h1{
    text-align: center;
}

h2{
    text-align: center;  
}
label
{
    text-align: center;  
}
p{
    text-align: center; 
}
input[id="name"]
{
    text-align: center; 
}
body{
    background-color: antiquewhite;
}